body{
    height: 100vh;
    width: 100vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(#FCC5A1, #DDE2DC);
    color: #3581B8;

}
h1{
    text-align: center;
}
#gameboard{
    display:flex;
    flex-direction: column;
}

.row{
    display:flex;
}

.space {
    border: 1px #3581B8 solid;
    height: 100px;
    width: 100px;
    font-size: 70px;
    text-align: center;
    text-justify: distribute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #068D9D;
}

main {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-items: center;
}

#stats{
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title{
    margin: 0 auto;
    width: 40%;
}

.statText{
    text-align: center;
    font-size: 25px;
}

#reset{
    display: none;
    background-color: #CD533B;
    color: #DDE2DC;

}

@media only screen and (max-width: 550px) {
    #title{
        width: 50vw;
    }
    main{
        flex-direction: column;
    }
}